  
  <select ng-model="channelId" (change)="update($event)">
    <option value="1">GNT</option>
    <option value="2">Multishow</option>
  </select>

  <h2>{{ channelName }}</h2>
  
  <table border="1" *ngIf="!loading">
    <thead>
      <tr>
        <th>Horário</th>
        <th>Nome do Programa</th>
        <th>Duração</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.scheduledDate | amDateFormat: 'HH:mm' }}</td>
        <td>{{ item.publishingName }}</td>
        <td>{{ item.event.duration }}</td>
      </tr>
    </tbody>
  </table>