  
<div class="container">
  <form class="text-center">
    <label for="canal" class="mt-3">Selecione o canal:</label>
    <select class="form-control" (change)="update($event)" id="canal">
      <option value="1">GNT</option>
      <option value="2">Multishow</option>
      <option value="3">OFF</option>
      <option value="4">Viva</option>
      <option value="7">Gloob</option>
      <option value="8">BIS</option>
      <option value="11">SporTV</option>
    </select>
  </form>

  <h3 class="text-center my-3">Programação {{ day === today ? 'de hoje': 'do dia' }} ({{ day | amDateFormat: 'DD/MM/YYYY' }}) do canal {{ channelName }}</h3>

    <div class="mx-auto my-5" style="width: 235px">
      <ngb-datepicker (select)="onDateSelect($event)"></ngb-datepicker>
    </div>
  
  <table class="table table-striped" *ngIf="!loading">
    <thead class="thead-light">
      <tr>
        <th>Horário</th>
        <th>Nome do Programa</th>
        <th>Classificação Etária</th>
        <th>Duração</th>
        <th>Informações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.scheduledDate | amDateFormat: 'HH:mm' }}</td>
        <td>
          <strong>{{ item.publishingName }}</strong><br>
          {{ item.title.seasonNumber > 0 ? 'Temporada '+item.title.seasonNumber+' - ' : '' }}
          {{ item.title.episodeNumber > 0 ? 'Episódio '+item.title.episodeNumber : '' }}
        </td>
        <td class="text-capitalize">{{ item.title.rating }}</td>
        <td>{{ item.event.duration }}</td>
        <td>
          <button *ngIf="item.title.synopsis" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="{{ item.title.synopsis }}">
              {{ item.title.synopsis ? 'Sinopse' : 'Sem Informações' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>